@import 'flowbite/dist/flowbite.css';
@import './fonts.css';
@import './backgrounds.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .bg-mengwi-jadoel0 {
        background-image: url('../images/bg-mengwi-jadoel-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
