@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.fi-sidebar-header img {
    @apply h-12;
    @apply mb-1;
}

.fi-simple-header img {
    @apply h-16;
}

.fi-sidebar-nav::-webkit-scrollbar {
    display: none;
}

.fi-sidebar-nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* ---------------------------------- */

aside.fi-sidebar {
    @apply bg-slate-800 shadow-lg;

    /* & .fi-sidebar-group-button {
        @apply bg-slate-500 rounded-lg;
    } */

    & .fi-sidebar-nav-groups {
        @apply gap-y-2;
    }

    & .fi-sidebar-nav {
        & .fi-sidebar-group-label {
            @apply text-white font-bold;
        }

        & li.fi-sidebar-item {
            & .fi-sidebar-item-label,
            .fi-sidebar-item-icon {
                @apply text-gray-300;
            }

            & a:hover {
                @apply bg-gradient-to-r from-slate-700/80 to-slate-600/60
           shadow-md shadow-black/20
           -translate-y-[1px];

                /* text & icon hover */
                & .fi-sidebar-item-label,
                .fi-sidebar-item-icon {
                    @apply text-white;
                }
            }
        }

        & li.fi-sidebar-item-active {
            & .fi-sidebar-item-label,
            .fi-sidebar-item-icon {
                @apply text-sky-600;
            }
        }
    }
}

.fi-sidebar-sub-group-items {
    & a {
        & .fi-sidebar-item-label {
            @apply text-white;
        }
    }
}

header.fi-sidebar-header {
    @apply bg-slate-900;

    & .fi-logo {
        @apply text-white;
    }
}

/* ---------------------------------------------- */

body.fi-body {
    @apply bg-slate-200;
}

table.fi-ta-table {
    & thead {
        & tr {
            @apply bg-zinc-100;

            & span {
                @apply text-slate-900;
            }
        }
    }
}

/* -------------------------------------------- */

/* .fi-topbar {
    @apply p-4;

    & nav {
        @apply rounded-lg shadow-lg;
    }
} */

main {
    & .fi-page {
        & section {
            @apply gap-y-4;
        }
    }
}

.fi-simple-main-ctn {
    @apply justify-center
            bg-[url('https://images.unsplash.com/photo-1730291908232-f0172bbe7ad7?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')]
           bg-no-repeat bg-center bg-cover
           /* bg-gradient-to-r from-fuchsia-600 to-pink-600 */
           bg-stone-300 bg-blend-multiply;
}

.fi-simple-main {
    @apply relative z-10
           w-full
           bg-white/10 backdrop-blur-xl
           flex items-center justify-center
           border border-white/15
           shadow-2xl shadow-black/40;

    & .fi-simple-page {
        @apply w-full;
    }

    & .fi-logo,
    h1,
    .fi-fo-field-wrp-label span {
        @apply text-white;
    }
}
